.THIS.slds-spinner_container {
	z-index:9002;
	position:fixed;
}
.THIS.xcs-spinner_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9002;
  background-color: rgba(255, 255, 255, 0);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0s;
  transition-delay: 0s, 0.3s;
}