.dualListboxCmp .slds-dueling-list > .slds-dueling-list__column {
    display: none ;
}

.dualListboxCmp .slds-dueling-list > .slds-dueling-list__column ~ .slds-dueling-list__column {
    display: block ;
}

.dualListboxCmp .slds-dueling-list .slds-dueling-list__column:nth-of-type(2) {
    display: none;
}

.dualListboxCmp .slds-dueling-list div:nth-of-type(4) {
    display: none !important;
}